<h1>Listing contacts</h1>

<div>* = Contact needs an address: </div>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.first_name, contact %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td> 
    <td><%= contact.phone %></td>
    
    <td><%= link_to 'Edit', edit_contact_path(contact)%>
      <% if contact.addresses_count == nil %> 
        <%= '*' %> 
      <% end%> 
    </td>
    <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div> <%= link_to 'Create Groups', new_group_path %> | <%= link_to 'New Contact', new_contact_path %></div>
