<%= form_for [@contact, @address] do |f| %>
  
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= collection_select(:country, :code, Country.all, :id, :code) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
